/* .fondoHome {
  background-image: url("../assets/landingpage.avif");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  background-attachment: fixed;
  overflow: auto;
} */

.card_contenedor {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.link {
  margin-bottom: 2rem;
}

.link2 {
  text-decoration: none;
}

.loadingFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media (max-width: 768px) {
  .bontonCrear {
    text-align: center;
    padding-bottom: 0;
    padding-top: 0.5rem;
  }

  .buttonCrear {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .card_contenedor {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
